<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Daily expenses</h1>
      <h3 class="mb-5">
        <em>My personal expenses</em>
      </h3>
      <a href="/links" class="btn btn-primary">
        Let's get started
      </a>
    </div>
  </header>
</main>